<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MATAAN Chat</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="chat-header">
🖤 MATAAN
</div>

<div class="chat-list">

<div class="chat-user">
<div class="avatar">F</div>

<div>
<h3>Fatima</h3>
<p>Last message disappeared 👀</p>
</div>
</div>

<div class="chat-user">
<div class="avatar">A</div>

<div>
<h3>Amina</h3>
<p>Sent a photo 📸</p>
</div>
</div>

</div>

<div class="bottom-nav">
<div>🏠</div>
<div>❤️</div>
<div>💬</div>
<div>🃏</div>
<div>👤</div>
</div>

</body>
</html>
