<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MATAAN</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="home">

<h2>Welcome to MATAAN 🖤</h2>

<div class="match-card">

<img src="https://picsum.photos/300/300" alt="">

<h3>Fatima, 22</h3>

<p>Loves coffee and late-night chats ☕</p>

<button>❤️ Match</button>

</div>

</div>

<div class="bottom-nav">

<div>🏠</div>
<div>❤️</div>
<div>💬</div>
<div>🎴</div>
<div>👤</div>

</div>

</body>
</html>
