<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>MATAAN Chat</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="room-header">
← Fatima 🖤
</div>

<div class="messages" id="messages">

{% for msg in messages %}

<div class="msg me">
{{ msg[0] }}
</div>

{% endfor %}

</div>

<form action="/send" method="POST" class="chat-box">

<input
name="message"
type="text"
placeholder="Type message..."
autocomplete="off">

<button type="submit">➤</button>

</form>

<script>
const messages = document.getElementById("messages");
messages.scrollTop = messages.scrollHeight;

window.onload = function(){
    window.scrollTo(0, document.body.scrollHeight);
};
</script>

</body>
</html>
